/*globals*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,500;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  color: black;
  background-color: white;
  font-family: 'Fira Sans', sans-serif;
  font-style: italic; }

header {
  background-image: url(../img/Header001.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 500; }
  header .h100 {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 92.5vh; }
  header .title-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    header .title-center a:hover {
      color: #FA6A2B; }
  header .title-custom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 75px; }
    @media (max-width: 576px) {
      header .title-custom {
        font-size: 35px; } }
  header .title2-custom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 45px; }
    @media (max-width: 576px) {
      header .title2-custom {
        font-size: 18px; } }
  header .text-blue-custom {
    color: #254E69;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-weight: 500; }
  header .run {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px; }
    @media (max-width: 576px) {
      header .run {
        font-size: 15px; } }
  header .btn-orange-custom {
    background-color: #FA6A2B; }

#SectionContact .contact {
  padding: 15px;
  background-color: #FA6A2B; }

#SectionContact a {
  text-decoration: none;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 30; }

footer {
  background-color: #254E69; }
  footer .text-footer-h2 {
    font-size: 25px;
    color: white;
    font-size: 30px; }
  footer p {
    font-size: 15px;
    color: white; }
  footer a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 15px; }
  footer .text-footer-made {
    font-size: 12px;
    color: #9e9c9c; }

/* ----Medias query mobile----*/
@media (max-width: 576px) {
  .footer-a {
    padding: 10px;
    font-size: 13px; } }

/*--animacion tarjeta--*/
.coach {
  display: flex;
  justify-content: center;
  align-items: center; }

.coach-card {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 500;
  position: relative;
  width: 300px;
  height: 190px;
  background-color: #FA6A2B;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba 0, 0, 0, 0.15;
  transition: 0.5s; }
  .coach-card:hover .imgBx {
    width: 210px;
    height: 210px; }
  .coach-card:hover {
    height: 450px; }
  .coach-card:hover .coach-text-card {
    transform: translateY(0px); }
  .coach-card .imgBx {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s; }
    .coach-card .imgBx img {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.coach-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden; }
  .coach-content .coach-text-card {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(210px); }
    @media (min-width: 576px) and (max-width: 768px) {
      .coach-content .coach-text-card {
        padding: 9px; } }
    .coach-content .coach-text-card h2 {
      font-family: 'Fira Sans', sans-serif;
      font-style: italic;
      font-weight: 500;
      font-size: 20px;
      color: white;
      line-height: 1.2em; }
    .coach-content .coach-text-card h2 span {
      font-size: 18px;
      font-weight: 500;
      opacity: 0.7; }
  .coach-content .coach-text-p {
    display: flex;
    margin: 20px 0px; }
    .coach-content .coach-text-p p {
      font-family: 'Fira Sans', sans-serif;
      font-style: italic;
      font-weight: 500;
      font-size: 18px;
      color: white;
      line-height: 1.2em; }

#sectionTraining .text-training-title {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  margin: 0%; }

#sectionTraining .text-training-p {
  font-size: 15px; }

#sectionTraining .card-numbre-left {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 900;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 50px; }

#sectionTraining .card-numbre-right {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 900;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 50px; }

#sectionTraining .card-text {
  padding: 10px 0px; }

#sectionTraining .training-img {
  width: 300px;
  border-radius: 10px; }

#sectionTraining .trainingImg {
  display: flex;
  align-items: center;
  justify-content: center; }

#sectionTraining .card-orange {
  padding: 50px 50px;
  background-color: #FA6A2B;
  display: flex;
  align-items: center;
  justify-content: center; }

#sectionTraining .card-white {
  padding: 50px 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

#sectionTraining .aline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; }

@media (max-width: 576px) {
  /* Seccion training*/
  .aline {
    flex-direction: column-reverse; }
  .card-numbre-right {
    font-size: 35px;
    justify-content: left; }
  .text-training-title {
    font-size: 20px; }
  .card-numbre-left {
    font-size: 35px; }
  .text-training-p {
    font-size: 12px; } }

#sectionCarousel .sliderCareers2 {
  width: 100%;
  height: auto;
  margin: 60px 0px;
  overflow: hidden; }

#sectionCarousel .sliderTrack2 {
  display: flex;
  animation: scroll 60s linear infinite;
  -webkit-animation: scroll 60s linear infinite;
  width: calc(400px * 14); }

#sectionCarousel .slide2 {
  width: 200px; }
  #sectionCarousel .slide2 img {
    width: 100%; }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(calc(-400px * 7));
    transform: translateX(calc(-400px * 7)); } }

#sectionCareers .sectionCareers__titulo {
  width: 100%;
  margin: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #FA6A2B; */
  font-size: 40px; }

#sectionCareers .careers {
  height: 200px;
  margin: 0px 60px 30px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #9e9a9a;
  /* border-left: 2px solid rgb(158, 154, 154);
        border-bottom: 2px solid rgb(158, 154, 154) ; */
  background-color: beige; }

#sectionCareers .careers__text {
  background-color: beige;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  #sectionCareers .careers__text h3 {
    font-size: 35px; }
  #sectionCareers .careers__text a {
    font-size: 20px; }

#sectionCareers .careers__date {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 100%;
  border-left: 2px solid #9e9a9a;
  background-color: beige; }
  #sectionCareers .careers__date h3 {
    font-size: 20px; }
  #sectionCareers .careers__date h4 {
    font-size: 18px; }

#sectionCareers .careers__img {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #sectionCareers .careers__img img {
    width: 180px; }

@media (max-width: 576px) {
  /* Seccion carrusel*/
  .sliderCareers2 .slide2 {
    width: 150px; } }

#sectionGallery .sectionGallery__titulo {
  width: 100%;
  margin: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #FA6A2B; */
  font-size: 40px; }

#sectionGallery .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0px;
  overflow: hidden; }
  #sectionGallery .gallery a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px black; }
  #sectionGallery .gallery img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s; }
    #sectionGallery .gallery img:hover {
      transform: rotate(10deg) scale(1.3); }

/*Seccion Page Objetivos*/
#sectionGoals .text-goals {
  width: 100%;
  padding: 0px 20px; }

#sectionGoals .contact__title {
  width: 100%; }

/*Seccion Formulario*/
#sectionForm .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#sectionForm .form__contact {
  width: 400px;
  background-color: #254e69;
  padding: 50px;
  margin: 50px;
  border-radius: 4px; }

#sectionForm .controls {
  width: 100%;
  background-color: #f7f5f4;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #4885ad;
  font-size: 18px; }

#sectionForm .cta_btn {
  margin: 10px 0;
  color: #FA6A2B;
  border: 1px solid #FA6A2B;
  padding: 12px 34px;
  font-size: 20px;
  background-color: transparent; }
  #sectionForm .cta_btn:hover {
    color: white;
    border: 1px solid #FA6A2B;
    background-color: #FA6A2B; }

@media (max-width: 576px) {
  /* Seccion formulario*/
  .form__contact {
    padding: 30px 30px;
    margin: 30px; } }
