

@mixin size($width, $height){
    width: $width;
    height: $height;
}



@mixin font($family, $style, $weight, $size){
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
}