
#sectionCarousel{
    .sliderCareers2{
        @include size(100%, auto); // mixin: size (width, height)
        margin: 60px 0px;
        overflow: hidden;
        
    }

    .sliderTrack2{
        display: flex;
        animation: scroll 60s linear infinite;
        -webkit-animation: scroll 60s linear infinite;
        width: calc(400px * 14);
    }

    .slide2{
        width: 200px;
        img{
            width: 100%;
        }
        @media(max-width:576px){
                width: 150px;
        }
    }         
     
    @keyframes scroll{
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100%{
            -webkit-transform: translateX(calc(-400px * 7));
            transform: translateX(calc(-400px * 7));
        }
    } 
}

#sectionCareers{  
    .card{
        border: 2px solid rgb(158, 154, 154);

        .card-title{
            display: flex;
            align-items: center;
            font-size: 30px;
        }

        .card-text{
            font-size: 15px;
        }

        .data-text-h3{
            font-size: 18px;
        }
        
        .data-text-h4{
            font-size: 18px;
        }
    }
}