
#sectionTraining{

    .text-training-title{
        font-family: $title-typography;
        font-style: italic;
        font-weight: 500;
        font-size: 25px;
        margin: 0%;
        @media(max-width:576px){
                font-size: 20px;  
            }
    }

    .text-training-p{
        font-size: 15px;
        @media(max-width:576px){
            font-size: 12px;
            }
        
        }
    
    .cardE{  // creacion de clase para operacion de Extend
        font-family: $title-typography;
        font-style: italic;
        font-weight: 900;
        width: 100%;
        display: flex;
        align-items:center ;
        font-size: 50px;
    }    


    .card-numbre-left{
        @extend .cardE;
        justify-content:left;
        @media(max-width:576px){
            font-size: 35px;
            }
    }
    .card-numbre-right{
        @extend .cardE;
        justify-content:right;


        @media(max-width:576px){
                font-size: 35px;
                justify-content:left;    
            }   
    }

    
    .card-text{
        padding: 10px 0px;
    }

    .training-img{
        width: 300px;
        border-radius: 10px;
    }

    .trainingImg{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-training{
        padding: 50px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   

    .aline{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        @media(max-width:576px){
                flex-direction: column-reverse;
            } 
    }

    .trainingText{
        @media(min-width:576px) and (max-width:768px){
            padding: 0px 50px;
        }

    }
}
