
#sectionGallery{
    
    .sectionGallery__titulo{
        width: 100%;
        margin: 60px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: #FA6A2B; */
        font-size: 40px;
    }

    .gallery{

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        width: 95%;
        margin: auto;
        grid-gap: 10px;
        padding: 40px 0px;
        overflow: hidden;

        a{
            display: block;
            position: relative;
            overflow: hidden; 
            box-shadow: 0 0 6px black;
        }

        img{
            width: 100%;
            vertical-align: top;
            height: 300px;
            object-fit: cover;
            transition: transform 0.5s;

            &:hover{
                transform: rotate(10deg) scale(1.3);
            }
        }


    }

    
}