


    .text-blue-custom{
        
        h2{
            font-family:$title-typography;
            font-style: italic;
            font-weight: 500;
            color: #254E69;
            font-size: 40px;
            @media(max-width:576px){
                font-size: 35px;
            }
        }
        
        p{

            color: black;
            font-size: 19px;
            @media(max-width:576px){
                font-size: 12px;
            }
    }
 
    }

/*--animacion tarjeta--*/

#sectionCoach{



    .coach{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .coach-card{
        position: relative;
        @include size(300px, 190px); // mixin: size (width, height) 
        background-color: #FA6A2B;
        border-radius: 20px;
        box-shadow: 0 35px 80px rgba (0,0,0,0.15);
        transition: 0.5s;

        &:hover .imgBx{
            @include size(210px, 210px); // mixin: size (width, height)
        }

        &:hover{
            height: 450px;  
        }
        
        &:hover .coach-text-card{
            transform: translateY(0px);
        }

        .imgBx{
            position: absolute;
            left: 50%;
            top: -50px;
            transform: translateX(-50%);

            @include size(150px, 150px); // mixin: size (width, height)
            background: white;
            border-radius: 20px;
            box-shadow: 0 15px 50px rgba(0,0,0,0.35);
            overflow: hidden; 
            transition: 0.5s;       
            img{
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                object-fit: cover;   
            } 
        } 
    }

    .coach-content{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;

        .coach-text-card{
            padding: 40px;
            text-align: center;
            width: 100%;
            transition: 0.5s;
            transform: translateY(210px); 

            @media(min-width:576px) and (max-width:768px){
                padding: 9px;
            }

            h2{
                @include font($title-typography, italic, 500, 20px); // mixin: font (family, style, weight, size)
                color: white;
                line-height: 1.2em;
            }
            h2 span{
                font-size: 18px;
                font-weight: 500;
                opacity: 0.7;
            }
        }  

        
        .coach-text-p{
            display: flex;
            margin: 20px 0px;
            p{
                @include font($title-typography, italic, 500, 18px); // mixin: font (family, style, weight, size)
                color: white;
                line-height: 1.2em;
            }
        }
    }
}




#sectionBenefits{

    .text-benefits{
        @include font($title-typography, italic, 500, 50px); // mixin: font (family, style, weight, size)
        color: #254E69;
        @media(max-width:576px){
            font-size: 35px;
        }

    }

    .text-benefits-title{
        @include font($title-typography, italic, 500, 40px); // mixin: font (family, style, weight, size)
        margin: 0%;
        @media(max-width:576px){
                font-size: 20px;  
            }
    }

    .text-benefits-p{
        font-size: 18px;
        @media(max-width:576px){
            font-size: 12px;
            }
        
        }
    
    .card-text{
        padding: 10px 0px;
    }

    .benefits-img{
        width: 500px;
        border-radius: 10px;
        @media(max-width:576px){
            width: 300px;
        }
    }

    .benefitsImg{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-benefits{
        padding: 50px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    .aline{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        @media(max-width:576px){
                flex-direction: column-reverse;
            } 
    }

    .benefitsText{
        @media(min-width:576px) and (max-width:768px){
            padding: 0px 50px;
        }

    }
}