
header{
    background-image: url(/img/Header001.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include font($title-typography, italic, 500, 20px); // mixin: font (family, style, weight, size)
    
    .logo{
        font-size: 30px;
    }
    .hover-a{
        a{
            &:hover{
                background-color:$primary-color;
                color:white;
                padding: 8px 25px;
                border-radius: 8px;
                transition: all 0.40s ease; 
            }
        }      
    }
    
    .h100{
        margin: 0%;
        padding: 0%;
        @include size(100%, 92.5vh); // mixin: size (width, height)
    }
    .title-center{
        @include size(100%, 100%); // mixin: size (width, height)
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a{
            &:hover{
                color: $primary-color;
            }  
        }
    }

    .title-custom{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $tertiary-color;
        font-size: 75px;
            @media(max-width:576px){
                font-size: 35px;   
            }   
    }

    .title2-custom{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$tertiary-color;
        font-size: 45px;
        @media(max-width:576px){
            font-size: 18px;
        }
    } 
    
    .run{
        display: flex;
        align-items: center;
        justify-content: center;
        color:$tertiary-color;
        font-size: 40px;
        @media(max-width:576px){
            font-size: 15px;
        }
    }

    .btn-orange-custom{
        background-color: $primary-color;
    }
}






