
#SectionContact{
    
    .contact{
        padding: 15px;
        background-color: $primary-color;
    }
        a{
            text-decoration: none;
            color: white;
            font-family: $title-typography;
            font-style: italic;
            font-weight: 500;
            font-size: 30;
        }
}