
#SectionContact{
    
    .contact{
        padding: 15px;
        background-color: $primary-color;
    }
        a{
            text-decoration: none;
            color: white;
            @include font($title-typography, italic, 500, 30px); // mixin: font (family, style, weight, size)
        }
}